@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Title"] = "首页";
}

<style>
    .div-body {
        width: 80%;
        margin: 0 auto;
        height:100%;
    }

    .div-main {
        height: 100%;
        min-height: 500px;
        margin: 70px 15px 15px 15px;
    }

    .div-date {
        float: left;
        width: 300px;
        height: 330px;
        display: inline-block;
        margin-top:10px;
    }

    .div-content {
        float: left;
        width: calc(100% - 305px);
        height: 100%;
        display: inline-block;
    }

    .p-date {
        text-align: center;
    }

    .tfoot-count {
        background-color: bisque;
    }
</style>

<div class="div-body">
    <div id="main" class="div-main">
        <div id="divDate" class="div-date"></div>
        <div id="divContent" class="div-content">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th colspan="5"><p id="pdate" class="p-date"></p></th>
                    </tr>
                    <tr>
                        <th>大类名称</th>
                        <th>名称</th>
                        <th>金额</th>
                        <th>数量</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>                    
                </tbody>
                <tfoot class="tfoot-count">
                    <tr>
                        <td>总计</td>
                        <td>资产总计</td>
                        <td>负债总计</td>
                        <td>资产净值</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div style="clear:both;"></div>

<script>
    var app = new Vue({
        el: '#main',
        data: {
            datalist: []
        },
        methods: {

        },
        computed: {


        },
        watch: {

        },
        created: function () {

        }
    })

    function OpenAdd() {
        layer.open({
            type: 1,
            content: '传入任意的文本或html'
        });
    }

    function Tip() {
        layer.open({
            content: 'test',
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                //按钮【按钮一】的回调
            },
            no: function () {


            },
            cancel: function () {
                //右上角关闭回调
            }
        });
    }
    $('.ui.sticky').sticky({
        context: '#example1'
    });

    $().ready(function () {
        laydate.render({
            elem: '#divDate',
            position: 'static',
            change: function (value, date) { //监听日期被切换
                lay('#pdate').html(value);
            }
        });
        $("#pdate").text(new Date().toLocaleDateString().replace('/', '-').replace('/', '-'));
    });

</script>